//shared
.img-bck {
	position: relative;
}
.img-bck img { 
	opacity: 75%;
	margin: 0;
}
.img-callout-desktop, .img-callout-mobile, .img-callout-mobile-481 {
	margin-bottom: 1em;
	background-color: rgba(204, 204, 204, 0.5);
}
.img-callout-desktop {
	display: block;
}
.img-callout-mobile {
	display: none;
}
.img-callout-mobile-481 {
	display: none;
}

.img-offset-container figure, .img-offset-container .wp-block-columns {
	margin-bottom: 0;
}

// text right
.img-bck-right-container {
	position: absolute;
	top: 10%;
	right: 5%;
	left: 50%;
}
// text left
.img-bck-left-container {
	position: absolute;
	top: 10%;
	left: 5%;
	right: 50%;
}
@media only screen and (max-width: 767px) {
	
	/* Section 1 */
	.img-callout-desktop {
		display: none;
	}
	.img-callout-mobile {
		display: block;
	}
	.img-bck {
		font-size: .75em;
	}
}

@media only screen and (max-width: 481px) {
	.img-callout-mobile {
		display: none;
	} 
	.img-callout-mobile-481 {
		display: block;
	}
}

