// election page
$dark-green-text: hsl(95,46.4%,49%);
$dark-blue-text: hsl(208,100%,33.5%);
$dark-red-text: hsl(346,100%,41.8%);

// background colors
$light-green: hsl(96,60.0,95.1);
$light-blue: hsl(223,55.6,91.2);
$light-pink: hsl(355,78.6,94.5);
$shadow-grey: hsl(226, 11%, 71%);

// parkinson
$park-red: hsl(346, 100%, 42%);
$park-grey: hsl(200,3,34);
$light-grey-bkg: hsl(0,0,91);
$s-walk-blue: hsl(217, 100%, 37%);

/* c-opn */
$c-opn-red: hsl(358, 68%, 55%);
$c-opn-blue: hsl(206, 100%, 35%); 
$c-opn-cyan: hsl(196, 100%, 47%); 
$c-opn-green: hsl(135, 62%, 46%);
$c-opn-green-dark: hsl(135, 85%, 28%);