.park-btn {
	display: inline-block;
	position: relative;
	border: 1px solid #ac1100;
	border-radius: 0;
	padding: 0.579em 1.105em 0.579em;
	// padding: 0.579em 1.105em 0.842em;
	//padding: 0.563em 1.125em 0.813em;

	border-color: #58595b;
	background-color: #58595b;
	cursor: pointer;
	font-weight: inherit;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	transition: all 0.15s linear;
}
.park-btn:hover {
	color: #ffffff;
	border-color: rgb(213, 0, 50);
	background-color: rgb(213,0,50);
	text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}
.park-red-btn, button.park-red-btn, .park-red-btn-absolute {
	display: inline-block;
	position: relative;
	border: 1px solid #ac1100;
	border-radius: 0;
	padding: 0.579em 1.105em 0.579em;
	// padding: 0.579em 1.105em 0.842em;
	//padding: 0.563em 1.125em 0.813em;
	border-color: rgb(213,0,50);
	background-color: rgb(213,0,50);
	cursor: pointer;
	font-weight: inherit;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	transition: all 0.15s linear;
}
.park-red-btn:hover, .park-red-btn-absolute:hover, button.park-red-btn:hover{
	color: #ffffff;
	border-color: #58595b;
	background-color: #58595b;
	text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}
.park-red-btn-absolute {
	position: absolute;
}
.park-white-btn, .park-white-btn-absolute, button.park-white-btn {
	display: inline-block;
	position: relative;
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding: 0.579em 1.105em 0.579em;
	// padding: 0.579em 1.105em 0.842em;
	//padding: 0.563em 1.125em 0.813em;
	border-color: #ffffff;
	background-color: #ffffff;
	cursor: pointer;
	font-weight: inherit;
	line-height: 1.3;
	text-decoration: none;
	text-align: center;
	vertical-align: middle; 
	color: #d50032;
	box-shadow: 0em 0.15em .48em 0em rgba(0,0,0,0.25);
	transition: all 0.15s linear;
}
.park-white-btn:hover, .park-white-btn-absolute:hover, button.park-white-btn:hover{
	color: #ffffff;
	border-color: #58595b;
	background-color: #58595b;
	text-shadow: 0 0.075em 0.075em rgba(0,0,0,0.5);
}
.park-white-btn-absolute {
	position: absolute;
}
// callout boxes
.sw-blue-border {
	border: $s-walk-blue solid .25em;
	color:white; 
	padding: 2em; 
	text-align: center;
}
.park-grey-border {
	border: $park-grey solid 1.5px; 
	padding: 2em; 
	margin:2em 1em; 
	text-align: center;
}
.gradient-bckgrd-grey {
	background: $park-grey;
	background: linear-gradient(90deg, $park-grey 0%, rgba(255,255,255,1) 32%);
}
//countdown timer
.countdown-banner {
	display: block; 	 
}
.countdown-banner-m {
	display: none;
}
@media (max-width: 440px) {
	.countdown-banner {
		display: none;
	}
	.countdown-banner-m {
		display: block;
	}
}