.simple-flex, .simple-flex-tablet-break {
	display: flex;
	flex-wrap: wrap;
}
.simple-flex-no-wrap {
	flex-wrap: nowrap; 
}
.flex-justify-between {
	justify-content: space-between;
}
.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.flex-menu {
  color: #d50032;
  list-style: none;
  display: flex;
  justify-content: space-between;
	max-width: 85%;
	align-items: center;
}
.inline-block {
	display: inline-block;
}
.inline-block .inline-menu-item {
	display: inline-block;
	margin: 0 .5em;
}


//used for end of year countdown timer banner
.inline-item {
	vertical-align: middle;
}
/* used for img beside text */
.flex-item-20pct {
	flex: 0 0 20%; 
}
.flex-item-80pct {
	flex: 0 0 80%
}
.flex-item-text-right {
	border-left: 1em solid transparent; 
	order: 2;
}
.flex-item-text-left {
	border-right: 1em solid transparent;
	order: 1;
}
.flex-img-left {
	display:flex;
	order: 1;
}
.flex-img-right {
	display: flex;
	justify-content: flex-end;
	order: 2;
}
.menu-btn .x-btn {
	min-width: 160px;
}
.flex-end {
	justify-content: flex-end;
}
.flex-justify-center {
	display: flex;
	justify-content: center;
}
.flex-align-center {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	/* flex text-beside image */
	.simple-flex-tablet-break {
		flex-direction: column;
	}
	.center-tablet {
		display:flex;
		justify-content: center;
	}
	.flex-item-text-right {
		border-right: none; 
		order: 1;
	}
	.flex-item-text-left {
		border-left: none;
		order: 2;
	}
	.flex-img-left {
		order: 1;
		justify-content: center;
	}
	.flex-img-right {
		order: 1;
		justify-content: center;
	}
	.flex-img-left div, .flex-img-right div {
		max-width: 130px;
	}
}

//

