.white-background {
	background-color: #ffffff;
	color: #000000;
}
.darkHR {
	border-top: solid 1px black;
}
.light-grey-bkgrd {
	background-color: hsl(0, 0%, 91%);
	padding: .75em;
}
.light-blue-bckgrd {
	background-color: lightblue;
	padding: .75em;
}
.light-grey-bkgrd-0pad {
	background-color: hsl(0, 0%, 91%);
}
.park-grey-background {
	background-color: hsl(200, 3%, 34%);
	padding: .75em;
	color: white;
}
.park-red-background {
	background-color: #d50032;
	color: white;
}
.park-red-background h1,h2,h3,h4,h5,h6 {
	color: white;
}
.park-red-background h5 {
	color: inherit;
}
.grey-text {
	color: hsl(200, 3%, 34%);
}
.park-red-text {
	color: #d50032;
}
.red-field-labels strong {
	color: #d50032;
}
/* borders */
.grey-border-thin {
	border: solid 1px hsl(200, 3%, 34%);
}
.red-border-thick {
  border: solid #d50032 2px;
}
.red-border-thin {
	border: solid #d50032 1px;
}
.red-border-top {
	border-top: solid #d50032 1px;
  	padding-top: .75em;
}
.red-border-tb {
	border-top: solid #d50032 1px;
	border-bottom: solid #d50032 1px;
	padding: .75em 0;
}