.uppercase-text {
	text-transform: uppercase;
}
.dropcap-left {
  color: #d50032;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
} 

.dropcap-right {
  color: #d50032;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 3px;
} 