.bottom-margin-equal-paras {
	/* renew has 1.5em after paras */
	margin-bottom: 1.5em;
}
.park-grid-spacing div {
	/*used on knowledge network grid*/
	margin-bottom: .5em;
}
.bot-mar-1em {
	margin-bottom: 1em;
}
.bot-mar-1-5em {
	margin-bottom: 1.5em;
}
.bot-mar-013 {
	margin-bottom: .13em;
}
.park-close-para-margin {
	margin-top: -1em;
}
.side-margin-spacing {
  margin: 0 1em;
}
.para-margin-reset p {
	/* x-theme renew only has margin on the bottom of paragraphs. In chrome browser default is top/bottom margin of 1em */
	margin: 1em 0;
}
.indent-content {
	margin-left: .5em;
}
.bottom-margin-1 {
  margin-bottom: 1em;
}
.bottom-margin-0-child > p:last-child {
	margin-bottom: 0;
}
.auto-line-break {
	white-space: pre-line;
}
.padding-1em {
	padding: 1em;
}
.padding-half {
	padding: .5em;
}
.padding-3-4 {
	padding: .75em;
}
@media (max-width: 768px) {
	.bottom-margin-1-mobile {
		margin-bottom: 1em;
	}
}