/* volunteer.scss */

.volunteer-container {
	font-size: 2.5em;
	/* max-width: 70%; */
	margin: 2em auto;
	line-height: 1.4;
}
.volunteer-container p {
	margin: 0;
}
.volunteer-home-container {
	font-size: 2.5em;
}

@media (max-width:950px) {
	.volunteer-container, .volunteer-home-container {
	font-size: 1.3em;
	}
	.volunteer-flex {
		flex-direction: column;
	}
}
@media (max-width:650px) {
	.red-background {
	display:none;
	}
}

.volunteer-flex {
	display: flex;
	text-align: left;
    justify-content: space-around;
}

.volunteer-container .x-btn {
	font-size: .75em;
}
.volunteer-heading {
	font-weight: 900;	
}
.slanted-text {
	font-family: 'Just Another Hand', cursive;
	font-size: 3em;
	transform: rotate(-5deg);
	letter-spacing: .1em;
	text-shadow: 2px 3px 3px rgba(150, 150, 150, 1);
}
.red-background p {
	margin: 0;
}
.volunteer-prompt {
	font-size: .75em;
}
.red-background {
	background-color: #d50032;
	color: white;
	font-size: .75em;
	padding: 0 2em 1em;
	margin-bottom: 2em;
}
.red-background p {
	color: inherit;
}
.red-background a {
	color: inherit;
}
.red-background a:hover {
	color: white;
}