.ie-announcement {
	display: none;
}

/* targets microsoft edge */
@supports (-ms-ime-align:auto) {
	.ie-announcement {
		display: block;
		background-color: #28385e;
		color: white; 
		max-width: 30%;
		margin: auto;
		padding: 1.5em;
	}
	.ie-announcement a {
		color: yellow;
		text-decoration: underline;
	}
}
/* targets I.E. 10+ */
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) { 
	.ie-announcement { 
		display: block;
		background-color: #28385e;
		color: white; 
		max-width: 30%;
		margin: auto;
		padding: 1.5em;
	}
	.ie-announcement a {
		color: yellow;
		text-decoration: underline;
	}
}
