/* From style.css all css applying to ubermenu from childtheme */

@media screen and (min-width: 960px) {
  nav.ubermenu-responsive-default.ubermenu {
    display: block!important;
    /*margin-top: -4px;*/
    height: 108px;
  }
  div.x-navbar-fixed-top nav.ubermenu-responsive-default.ubermenu {
    margin-top: 0;
  }
  div.x-navbar {
    top: 60px;
    transition: top 0.2s ease-in-out;
  }
  .x-navbar-fixed-top.nav-up {
    top: 0;
  }
  .x-navbar-fixed-top.nav-down {
    /*position: fixed;*/
  }
}
@media screen and (min-width: 1440px) {
  .x-brand.img img {
    width: 284px;
    margin-top: -18px;
  }
}
div.x-navbar {
  border-bottom: 2px solid #000;
}
.ubermenu-skin-vanilla.ubermenu-horizontal .ubermenu-item-level-0 > ul.ubermenu-submenu-drop {
  border-top: 2px solid #000;
}
.ubermenu li.ubermenu-item.ubermenu-item-level-0 {
    float: none;
    height: 108px;
}
body.x-navbar-fixed-top-active div.x-navbar-wrap {
    height: 108px;
}
a.x-brand {
  line-height: 108px;
  margin: 0;
}
.x-brand.img img {
  margin-top: -20px;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop>a.ubermenu-target:after {
  display: none;
}
.ubermenu a.ubermenu-target {
  padding: 31px 10px;
}
.ubermenu span.ubermenu-target-text {
  vertical-align: top;
}
.ubermenu-main .ubermenu-item-level-0 > a.ubermenu-target {
    font-size: 18px;
    padding: 0 10px;
    line-height: 108px;
}
.ubermenu a.ubermenu-target a.x-btn-navbar-search {
    padding-right: 0;
}
.ubermenu-skin-vanilla .ubermenu-item-level-0:hover > a.ubermenu-target, .ubermenu-skin-vanilla .ubermenu-item-level-0.ubermenu-active > a.ubermenu-target {
  background: #107ca2;
  color: #fff;
}
.ubermenu-skin-vanilla .ubermenu-item-level-0 > a.ubermenu-target {
  font-weight: 600;
  color: #54585a;
}
.x-icon-search {
  margin-left: 5px;
  font-size: 20px;
  vertical-align: top;
  position: relative;
  top: -1px;
}
.ubermenu-skin-vanilla .ubermenu-submenu .ubermenu-item-header h3.ubermenu-widgettitle.ubermenu-target {
  color: #d50032;
  font-size: 50px;
  padding: 0;
  margin-bottom: 30px;
  font-weight: normal;
}
.ubermenu-skin-vanilla .ubermenu-submenu .ubermenu-item-header h3.ubermenu-widgettitle.ubermenu-target a {
  color: #d50032;
  text-decoration: underline;
}
.ubermenu-skin-vanilla .ubermenu-submenu .ubermenu-item-header .textwidget {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  color: #000;
}
.ubermenu .ubermenu-item-type-column>.ubermenu-submenu-type-stack>li.ubermenu-item-normal:first-child {
  margin-top: 60px;
}
.ubermenu li.ubermenu-widget {
  padding: 65px 55px 105px;
  border-right: 1px solid #54585a;
}
ul.ubermenu-content-block.ubermenu-widget-area.ubermenu-autoclear {
  margin: 0;
}
.ubermenu h3.ubermenu-widgettitle {
  margin-bottom: 30px;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>a.ubermenu-target {
  padding-top: 0;
  padding-bottom: 30px;
  padding-left: 80px;
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>a.ubermenu-target:hover {
  color: #d50032
}
.ubermenu.ubermenu-disable-submenu-scroll .ubermenu-active>.ubermenu-submenu.ubermenu-submenu-type-mega {
  border-radius: 4px;
}
@media screen and (min-width: 1401px) {
  .x-brand.img img {
    width: 284px;
    margin-top: -18px;
  }
}
@media screen and (max-width: 1300px) {
  .ubermenu-main .ubermenu-item-level-0 > a.ubermenu-target {
    font-size: 16px;
    padding: 0 10px;
    line-height: 108px;
  }
}
@media screen and (max-width: 1200px) {
  .ubermenu-main .ubermenu-item-level-0 > a.ubermenu-target {
    font-size: 14px;
    padding: 0 10px;
    line-height: 108px;
  }
  #cd-donate-button {
    /*width: 100px;*/
    font-size: 14px;
  }
  .x-topbar .p-info {
    display: none;
  }
}
@media screen and (max-width: 1100px) {
  .ubermenu-main .ubermenu-item-level-0 > a.ubermenu-target {
    font-size: 12px;
    padding: 0 10px;
    line-height: 108px;
  }
}

/* ------------- Main Nav - Mobile ------------- */

@media (max-width: 979px) {
  .masthead-inline .x-btn-navbar {
    text-decoration: none;
  }
}