.nav-toggles {
	position: fixed;
	top: 1rem;
	right: 1rem;
	padding: 0.375rem 1.25rem;
	z-index: 9999;
}

.logo-container {
	img {
		height: 30px;
		width: auto;
		@include media-breakpoint-up(sm) {
			height: 50px;
		}
	}
}

.title-container {
	backface-visibility: hidden;
	box-shadow: 0 1rem 0.5rem rgba($black, 0.2);
	top: 0;
	transform: translateZ(0);
	a {
		display: block;
		font-weight: 500;
		@include font-size($h3-font-size);
		@include media-breakpoint-down(sm) {
			@include font-size(0.8rem);
			max-width: 150px;

			img {
				height: auto;
				max-width: 150px;
			}
		}
	}
}
