// wpblock breakpoints - original untouched? Overrides in the new front css middle blocks
@media (min-width: 782px) {
	.wp-block-columns {
    flex-wrap: nowrap;
	}
}
//normal setting:
.wp-block-columns {
	flex-wrap: wrap;
}

@media (min-width: 600px) {
	.wp-block-column {
		flex-basis: calc(50% - 16px);
		flex-grow: 0;
	}
}

@media (max-width: 599px) {
	.wp-block-column {
		flex-basis: 100%!important;
	}
}
//normal setting:
.wp-block-column {
	flex-grow: 1;
}