// 3d button experiment
.btn {
	position: relative;
	border: 0;
	padding: 15px 25px;
	display: inline-block;
	text-align: center;
	color: white;
}
.btn:active {
	top: 4px;	
}

.btn {
	margin: 9px;
}
.btn.red {
	background-color: rgb(213, 0, 50);
	box-shadow: 0px 4px 0px rgba(186, 0, 43, 0.8);
}
// original box shadow .btn.red {box-shadow:0px 4px 0px #d50032;}

.btn.red:active {
	box-shadow: 0 0 rgba(213, 0, 50, 0.7);
	background-color: rgba(213, 0, 50, 0.6);
	// transition: box-shadow 0.3s ease-in-out;
}
.btn.red:visited {color:white;}

.rounded {
  border-radius: 10px;
}

a[class*="btn"] {text-decoration: none;}
input[class*="btn"], 
button[class*="btn"] {border: 0;}

// end of 3D button