/* override for social media icons */

i.x-icon-facebook-square:before {
	content: "\f09a" !important;
	height: 50px;
	border-radius: 50%;
	background: #4e71a8;
	width: 50px;
	font-size: 25px;
	display: block;
	line-height: 50px;
}